[core]
	excludesfile = /Users/sdk/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = 
	email = 
[alias]
	co = checkout
	ci = commit
	st = status
	bra = branch
	ph = push
	pl = pull
[push]
	default = matching
